<div class="box">
  <div class="timer" (click)="startAlcohol()" [class.danger]="isDanger(alcoholTimer)">
    <img src="https://wiki.guildwars.com/images/4/47/Dwarven_Ale.png">
    {{alcoholTimer | timer}}
  </div>
  <div class="buttons" (click)="stopAlcohol()">Stop</div>
</div>
<div class="box">
  <div class="timer" (click)="startEgg()" [class.danger]="isDanger(eggTimer)">
    <img src="https://wiki.guildwars.com/images/9/97/Golden_Egg.png">
    {{eggTimer | timer}}
  </div>
  <div class="buttons" (click)="stopEgg()">Stop</div>
</div>
<div class="box">
  <div class="timer" (click)="startAll()" [class.danger]="isDanger(allTimer)">
    <img src="https://wiki.guildwars.com/images/e/ee/Candy_Corn.png">
    {{allTimer | timer}}
  </div>
  <div class="buttons" (click)="stopAll()">Stop</div>
</div>
