.box {
  position: relative;
  display: flex;
  justify-content: center;
  height: 25vh;
  border-bottom: 1px solid white;
  color: white;
  font-size: 36px;
  box-sizing: border-box;

  .timer {
    flex: 3 0 0;
    background: #1e1e1e;
    text-align: center;
    line-height: 25vh;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.danger {
      background: #881111;
    }

    &.warning {
      background: #bb6622;
    }

    img {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .buttons {
    flex: 1 0 0;
    background: #2d2d2d;
    text-align: center;
    line-height: 25vh;
    cursor: pointer;
  }
}

.both-button {
  position: absolute;
  top: calc(25vh - 25px);
  left: 100vw * 3 / 8;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid white;
  background: #2d2d2d;
  cursor: pointer;
  z-index: 100;
}
